<section class="ftco-section ftco-counter" id="download">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate fadeInUp ftco-animated">
                <h2>Download Lumi</h2>
            </div>
        </div>
        <div class="row">
            <div
                class="col-md-12 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
                <div class="block-18 text-center">
                    <div class="text">
                        <a href="https://github.com/Lumieducation/Lumi/releases/download/v{{release}}/Lumi-Setup-{{release}}.exe"
                            class="btn btn-primary btn-outline-white px-4 py-3 cloud-download">
                            <strong class="number"> <i class="fa fa-windows"></i> Windows </strong></a>
                    </div>
                </div>
            </div>
            <div
                class="col-md-12 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
                <div class="block-18 text-center">
                    <div class="text">
                        <a href="https://github.com/Lumieducation/Lumi/releases/download/v{{release}}/Lumi-{{release}}.dmg"
                            class="btn btn-primary btn-outline-white px-4 py-3 cloud-download">
                            <strong class="number"><i class="fa fa-apple"></i> macOS</strong></a>
                    </div>
                </div>
            </div>
            <div class=" col-md-12 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate fadeInUp
                                ftco-animated">
                <div class="block-18 text-center">
                    <div class="text">
                        <a href="https://snapcraft.io/lumi"
                            class="btn btn-primary btn-outline-white px-4 py-3 cloud-download">
                            <strong class="number"><i class="fa fa-linux"></i> Linux</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>