<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Company</h2>
                    <p>
                        Lumi - A world in which learning is individual,
                        exciting and interactive.
                    </p>
                    <!-- <ul
                class="ftco-footer-social list-unstyled float-md-left float-lft"
              >
                <li class="ftco-animate">
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
              </ul> -->
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Quick Links</h2>
                    <ul class="list-unstyled">
                        <!-- <li><a href="#" class="py-2 d-block">Home</a></li>
                <li><a href="#" class="py-2 d-block">About</a></li>
                <li><a href="#" class="py-2 d-block">Services</a></li>
                <li><a href="#" class="py-2 d-block">Portfolio</a></li> -->
                        <li>
                            <a href="mailto:c@Lumi.education" class="py-2 d-block">Contact</a>
                        </li>
                        <li>
                            <a href="/privacy-policy" class="py-2 d-block">Privacy</a>
                        </li>
                        <li>
                            <a href="/imprint" class="py-2 d-block">Imprint</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Contact Information</h2>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#" class="py-2 d-block">Frida-Kahlo-Straße 41 - D-38126
                                Braunschweig - Germany</a>
                        </li>
                        <li>
                            <a href="mailto:c@Lumi.education" class="py-2 d-block">c@Lumi.education</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Newsletter</h2>
                    <p>Get the latest news from Lumi.</p>
                    <div id="mc_embed_signup">
                        <form
                            action="https://education.us16.list-manage.com/subscribe/post?u=d013a4abbc01289bdbf145fcb&amp;id=72e27cfeee"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                            class="subscribe-form" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <div class="form-group">
                                    <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL">

                                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                        class="button"></input>
                        </form>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>
                    document.write(new Date().getFullYear());
                </script>
                All rights reserved | This template is made with
                <i class="icon-heart" aria-hidden="true"></i> by
                <a href="https://colorlib.com" target="_blank">Colorlib</a>

                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </div>
    </div>
</footer>