<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="./"><img src="/images/logo.svg" width="50"> Lumi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> {{i18n "navigation.menu"}}
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a href="index.html" class="nav-link">{{i18n "navigation.home"}}</a>
                </li>
                <li class="nav-item">
                    <a href="#newsletter" class="nav-link">{{i18n "navigation.newsletter"}}</a>
                </li>
                <li class="nav-item">
                    <a href="#download" class="nav-link">{{i18n "navigation.download"}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>