<div id="root"></div>

{{!-- <form id="newsletter"
    action="https://education.us16.list-manage.com/subscribe/post?u=d013a4abbc01289bdbf145fcb&amp;id=72e27cfeee"
    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="subscribe-form"
    target="_blank" novalidate>

    <div class="input-group mb-3">
        <input type="email" value="" name="email_address" class="form-control" id="mce-EMAIL"
            placeholder="{{i18n "newsletter.placeholder"}}"
            aria-label="eMail for newsletter"
            aria-describedby="button-addon2" style="background: transparent;">
        <div class="input-group-append">
            <input type="submit" value="{{i18n "newsletter.subscribe"}}" name="subscribe" id="mc-embedded-subscribe" class="btn btn-secondary"
                id="button-addon2"></input>
        </div>
    </div>
</form> --}}