<section id="newsletter" class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center" style="padding: 2em 0;">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 text-center heading-section heading-section-white ftco-animate">
                    <ul class="list-inline list-social">
                        <li class="list-inline-item">
                            <a href="/{{currentLanguageCode}}/support">
                                <i class="fa fa-donate"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="mailto:jps@Lumi.education ">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://join.slack.com/t/lumi-education/shared_invite/enQtMjY0MTM2NjIwNDU0LWU3YzVhZjdkNGFjZGE1YThjNzBiMmJjY2I2ODk2MzAzNDE3YzI0MmFkOTdmZWZhOTBmY2RjOTc3ZmZmOWMxY2U "
                                target="_blank ">
                                <i class="fa fa-slack"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/Lumieducation " target="_blank ">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/Lumieducation " target="_blank ">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                    {{> newsletter}}

                </div>
            </div>
        </div>
    </div>
</section>