{{> navigation}}

<section class="home-slider ftco-degree-bg">
    <div class="slider-item">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-10 ftco-animate text-center">
                    <h1 class="mb-4">
                        Make learning
                        <strong class="typewrite" data-period="4000"
                            data-type='[ "individual.", "exciting.", "interactive." ]'>
                            <span class="wrap"></span>
                        </strong>
                    </h1>
                    <p>
                        Lumi is a desktop app that allows you to create, edit
                        and view interactive content with dozens of different
                        content types.
                    </p>
                    <p>
                        <a href="https://github.com/Lumieducation/Lumi/releases/download/v{{release}}/Lumi-Setup-{{release}}.exe"
                            class="btn btn-primary btn-outline-white px-4 py-3 cloud-download">
                            Windows</a>
                        <a href="https://github.com/Lumieducation/Lumi/releases/download/v{{release}}/Lumi-{{release}}.dmg"
                            class="btn btn-primary btn-outline-white px-4 py-3 cloud-download">
                            macOS</a>
                        <a href="https://snapcraft.io/lumi"
                            class="btn btn-primary btn-outline-white px-4 py-3 cloud-download">
                            Linux</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END slider -->

<section class="ftco-section-featured ftco-animate">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="carousel owl-carousel">
                    <div class="item">
                        <a href="portfolio.html">
                            <img src="images/screenshot1.png" class="img-fluid" alt="" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="portfolio.html">
                            <img src="images/screenshot2.png" class="img-fluid" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{> social}}


{{> footer}}