{{> navigation}}

<section class="home-slider ftco-degree-bg">
    <div class="slider-item bread-wrap"
        style="background-image: url(&quot;/images/xbg_1.jpg.pagespeed.ic.zMFIB0fnpX.webp&quot;); background-position: 50% 415.5px;"
        data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">
                <div class="col-md-10 col-sm-12 ftco-animate mb-4 text-center fadeInUp ftco-animated">

                    <h1 class="mb-3">Imprint</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate fadeInUp ftco-animated">
                <h2 class="mb-3">Company Name</h2>
                Lumi Education GbR Jan Philip Schellenberg und Sebastian Rettig
                <h2 class="mb-3">Address</h2>
                Lumi Education GbR Jan Philip Schellenberg und Sebastian Rettig <br />
                Frida-Kahlo-Straße 41 <br />
                D-38126 Braunschweig <br />
                Germany <br />

                <h2 class="mb-3">Contact</h2>
                <a href="mailto:c@Lumi.education">c@Lumi.education</a> <br />


                <h2 class="mb-3">Company Registration / Register Court</h2>

                Following soon.

                <h2 class="mb-3">Managing Directors</h2>
                Jan Philip Schellenberg, Sebastian Rettig <br />
                (Responsible according to Paragraph 55, Section 2 of the German Interstate Broadcasting Agreement
                (Rundfunkstaatsvertrag)) <br />
                <a href="privacy-policy">Privacy</a>


                </p>
            </div>
        </div>
    </div>
</section>
{{> footer}}