{{> navigation}}

<section class="home-slider ftco-degree-bg">
    <div class="slider-item bread-wrap"
        style="background-image: url(&quot;images/xbg_1.jpg.pagespeed.ic.zMFIB0fnpX.webp&quot;); background-position: 50% 415.5px;"
        data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">
                <div class="col-md-10 col-sm-12 ftco-animate mb-4 text-center fadeInUp ftco-animated">

                    <h1 class="mb-3">Lumi.education Homepage Privacy Policy</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate fadeInUp ftco-animated">
                <h2 class="mb-3">Lumi.education Homepage – Privacy Policy</h2>
                <p>This Policy describes the information we collect from you, how we use that information and our legal basis for doing so. It also covers whether and how that information may be shared and your rights and choices regarding the information you provide to us. This Privacy Policy applies to the information that we obtain through your use of the Lumi.education website
                <ul>
                    <li>Lumi Education GbR Jan Philip Schellenberg and Sebastian Rettig</li>
                    <li>Jan Philip Schellenberg</li>
                    <li>Sebastian Rettig</li>
                </ul>
                </p>

                <h2 class="mb-3 mt-5">Who is responsible for data collection on Lumi.education?</h2>
                <p>The controller (according to Art. 4 (7) GDPR the legal person who determines the purpose and means of
                    the processing of personal data) is Lumi Education GbR Jan Philip Schellenberg and Sebastian Rettig,
                    Frida-Kahlo-Straße 41, D-38126 Braunschweig, Germany.
                </p>
                <h2 class="mb-3 mt-5">Consent</h2>
                <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>

                <h2 class="mb-3 mt-5">What data is collected? How is it collected?</h2>

                <p>when you visit our site, we will store: the website from which you visited us from, the parts of our site you visit, the date and duration of your visit, your anonymised IP address, information from the device (device type, operating system, screen resolution, language, country you are located in, and web browser type) you used during your visit. We process this usage data in Matomo Analytics for statistical purposes, to improve our site and to recognize and stop any misuse.</p>
                        
                <p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>
<p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>

  <h2 class="mb-3 mt-5">Opt-out of website tracking</h2>
  <iframe
        style="border: 0; height: 200px; width: 600px;"
        src="https://matomo.lumi.education/index.php?module=CoreAdminHome&action=optOut&language=en&backgroundColor=&fontColor=&fontSize=&fontFamily="
        ></iframe>

                <h2 class="mb-3 mt-5">On what basis do we collect your data?</h2>

                <p>We collect or transmit your data with your explicit consent (Art. 6 (1) a GDPR) by using the website.
                </p>
                <h2 class="mb-3 mt-5">How will we use your data?
                </h2>
                <p>Our company collects your data so that we can:</p>
                <ul>
                    <li>decide what parts of the app should be developed further (e.g. choice of languages to localize)
                    </li>
                    <li>to optimize our website</li>
                    <li>find and fix bugs</li>
                </ul>
                <p>
                    Your data is not used for individual decision-making, including profiling.
                </p>
                <p>
                    Data that we receive about you is not shared with other companies or organizations, except if we are
                    required to do so by law (e.g. for law enforcement) and for processing purposes (see below).
                </p>

                <h2 class="mb-3 mt-5">How do we store your data?</h2>

                <p>Our company uses a processor to securely store the data about your usage on
                    Scaleway Cloud systems, 8 rue de la Ville l’Evêque, 75008 Paris, France</p>
                <p>Our company will keep your data for 90 days after it was collected. Once this time period has
                    expired, we will delete your data.</p>
                </p>
                <h2 class="mb-3 mt-5">What are your data protection rights?</h2>
                <p>Our company would like to make sure you are fully aware of all of your data protection rights. Every
                    user is entitled to the following:
                <ul>
                    <li><b>The right to object to processing – You have the right to object to our company’s processing
                            of your personal data, under certain conditions.</b></li>
                    <li>The right to access – You have the right to request our company for copies of your personal
                        data. We
                        may charge you a small fee for this service.</li>
                    <li>The right to rectification – You have the right to request that our company correct any
                        information
                        you believe is inaccurate. You also have the right to request our company to complete the
                        information you believe is incomplete.</li>
                    <li>The right to erasure – You have the right to request that our company erase your personal data,
                        under certain conditions.</li>
                    <li>The right to restrict processing – You have the right to request that our company restrict the
                        processing of your personal data, under certain conditions.</li>
                    <li>The right to data portability – You have the right to request that our company transfer the data
                        that we have collected to another organization, or directly to you, under certain conditions.
                    </li>
                </ul>
                <p>If you make a request, we have one month to respond to you. If you would like to exercise any of
                    these rights, please contact us at our email: <a href="mailto:c@Lumi.education">c@Lumi.education</a>
                </p>
                <p>All requests concerning data transmitted as described must be directed directly to
                    the recipients.</p>
                </p>

                <h2 class="mb-3 mt-5">Privacy policies of other websites
                </h2>
                <p>Our app contains links to other websites. Our privacy policy applies only to our website, so if you
                    click on a link to another website, you should read their privacy policy.
                </p>
                <h2 class="mb-3 mt-5">Changes to our privacy policy</h2>
                <p>Our company keeps its privacy policy under regular review and places any updates on this web
                    page. This privacy policy was last updated on 14th March 2021.
                </p>
                <h2 class="mb-3 mt-5">How to contact us</h2>

                <p>If you have any questions about our company’s privacy policy, the data we hold on you, or you
                    would like to exercise one of your data protection rights, please do not hesitate to contact us.</p>
                <p>Email us at: <a href="mailto:c@Lumi.education">c@Lumi.education</a></p>
                </p>
                <h2 class="mb-3 mt-5">How to contact the appropriate authority
                </h2>
                <p>Should you wish to report a complaint or if you feel that our company has not addressed your concern
                    in a satisfactory manner, you may contact the Information Commissioner’s Office.</p>
                <p>Email: <a href="mailto:poststelle@lfd.niedersachsen.de">poststelle@lfd.niedersachsen.de</a><br />
                    Address:<br />
                    Der Landesbeauftragte für den Datenschutz Niedersachsen<br />
                    Prinzenstraße 5<br />
                    D-30159 Hannover<br />
                    Germany</p>
                </p>
            </div>
        </div>
    </div>
</section>
{{> footer}}