{{> navigation}}

<section class="home-slider ftco-degree-bg">
    <div class="slider-item bread-wrap"
        style="background-image: url(&quot;/images/xbg_1.jpg.pagespeed.ic.zMFIB0fnpX.webp&quot;); background-position: 50% 415.5px;"
        data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">
                <div class="col-md-10 col-sm-12 ftco-animate mb-4 text-center fadeInUp ftco-animated">

                    <h1 class="mb-3">Lumi.education Homepage Privacy Policy</h1>
                        {{#if languageHasNoManualTranslation}}
                            <p>{{i18n "disclaimer.languageDisclaimerPrivacyPolicy"}}</p>
                        {{/if}}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate fadeInUp ftco-animated">
                <h2 class="mb-3">Lumi.education Homepage – Privacy Policy</h2>
                <p>This policy describes the information we collect from you, how we use that information and our legal
                    basis for doing so. It also covers whether and how that information may be shared and your rights
                    and choices regarding the information you provide to us. This privacy policy applies to the
                    information that we obtain through your use of the lumi.education website
                </p>

                <h2 class="mb-3 mt-5">Who is responsible for data collection on Lumi.education?</h2>
                <p>The controller (according to Art. 4 (7) GDPR the legal person who determines the purpose and means of
                    the processing of personal data) is
                <p>
                    Lumi Education GbR Jan Philip Schellenberg and Sebastian Rettig<br />
                    Frida-Kahlo-Straße 41<br />
                    D-38126 Braunschweig<br />
                    Germany
                </p>
                </p>
                <h2 class="mb-3 mt-5">
                    On what basis do we collect and process data?
                </h2>
                <p>
                    Data is processed due to the legitimate interests pursued by Lumi Education GbR (Art. 6 1 (f) GDPR).
                    Our legitimate interest is the need to make resource scaling decisions and to improve the quality of
                    our website and services.
                </p>
                <h2 class="mb-3 mt-5">What data is collected? How is it collected?</h2>
                <p>When you visit our site, we will store this information about you:
                <ul>
                    <li>the website from which you visited us from</li>
                    <li>the parts of our site you visit</li>
                    <li>the date and duration of your visit</li>
                    <li>your anonymised (shortened) IP address</li>
                    <li>information about the device you used during your visit (device type, operating system, screen
                        resolution, language, country you are located in and web browser type)</li>
                </ul>
                </p>
                <p>We do not create user profiles across visits or by matching data with third party websites.</p>
                <p>We process this usage data in our own Matomo Analytics system for statistical purposes, to
                    improve our site and to recognize and stop any misuse.</p>
                <p>When you subscribe to our newsletter we store your email address and the marketing permissions you
                    gave us.</p>
                <p>If you contact us directly, we may receive additional information about you such as your name, email
                    address, phone number, the contents of the message and/or attachments you may send us, and any other
                    information you may choose to provide.</p>

                <h2 class="mb-3 mt-5">Opt-out of website tracking</h2>
                You can opt out of tracking by clicking <a
                    href="https://matomo.lumi.education/index.php?module=CoreAdminHome&action=optOut&language=en&backgroundColor=&fontColor=&fontSize=&fontFamily=">here</a>
                and then disabling the checkbox. This will create an <b>anonymous</b> cookie disabling tracking for our
                website.
                <h2 class="mb-3 mt-5">How will we use your data?
                </h2>
                <p>Our company collects your data so that we can:</p>
                <ul>
                    <li>decide what parts of the app should be developed further (e.g. choice of languages to localize)
                    </li>
                    <li>to optimize our website</li>
                    <li>find and fix bugs</li>
                </ul>
                <p>
                    Your data is not used for individual decision-making, including profiling.
                </p>
                <p>
                    Data that we receive about you is not shared with other companies or organizations, except if we are
                    required to do so by law (e.g. for law enforcement) and for processing purposes (see below).
                </p>

                <h2 class="mb-3 mt-5">How do we store your data?</h2>

                <p>Our company uses a processor according to Art. 28 GDPR to securely store the data about your usage at
                    Scaleway Cloud systems, 8 rue de la Ville l’Evêque, 75008 Paris, France</p>
                <p>Our company will keep your usage data for 90 days after it was collected. Once this time period has
                    expired, we will delete your data.</p>
                </p>
                <p>Your newsletters subscriptions are stored and managed by Mailchimp (The Rocket Science Group, LLC
                    675, Ponce de Leon Ave NE, Suite 5000, Atlanta, GA 30308 USA) in the USA. Read about their privacy
                    policy <a href="https://mailchimp.com/legal/">here</a>
                </p>
                <h2 class="mb-3 mt-5">What are your data protection rights?</h2>
                <p>Our company would like to make sure you are fully aware of all of your data protection rights. Every
                    user is entitled to the following:
                <ul>
                    <li><b>The right to object to processing – You have the right to object to our company’s processing
                            of your personal data, under certain conditions.</b> You can do so by configuring the
                        'do-not-track' settings in the browser or you can opt-out in the section above.</li>
                    <li>The right to access – You have the right to request our company for copies of your personal
                        data. We may charge you a small fee for this service.</li>
                    <li>The right to rectification – You have the right to request that our company correct any
                        information you believe is inaccurate. You also have the right to request our company to
                        complete the information you believe is incomplete.</li>
                    <li>The right to erasure – You have the right to request that our company erase your personal data,
                        under certain conditions.</li>
                    <li>The right to restrict processing – You have the right to request that our company restrict the
                        processing of your personal data, under certain conditions.</li>
                    <li>The right to data portability – You have the right to request that our company transfer the data
                        that we have collected to another organization, or directly to you, under certain conditions.
                    </li>
                    <li>The right to complain at a supervisory authority - see below for contact details</li>
                </ul>
                <p>If you make a request, we have one month to respond to you. If you would like to exercise any of
                    these rights, please contact us at our email: <a href="mailto:c@Lumi.education">c@Lumi.education</a>
                </p>

                <h2 class="mb-3 mt-5">Privacy policies of other websites
                </h2>
                <p>Our app contains links to other websites. Our privacy policy applies only to our website, so if you
                    click on a link to another website, you should read their privacy policy.
                </p>
                <h2 class="mb-3 mt-5">Changes to our privacy policy</h2>
                <p>Our company keeps its privacy policy under regular review and places any updates on this web
                    page. This privacy policy was last updated on 18th March 2021.
                </p>
                <h2 class="mb-3 mt-5">How to contact us</h2>

                <p>If you have any questions about our company’s privacy policy, the data we hold on you, or you
                    would like to exercise one of your data protection rights, please do not hesitate to contact us.</p>
                <p>Email us at: <a href="mailto:c@Lumi.education">c@Lumi.education</a></p>
                </p>
                <h2 class="mb-3 mt-5">How to contact the appropriate authority
                </h2>
                <p>Should you wish to report a complaint or if you feel that our company has not addressed your concern
                    in a satisfactory manner, you may contact the Information Commissioner’s Office.</p>
                <p>Email: <a href="mailto:poststelle@lfd.niedersachsen.de">poststelle@lfd.niedersachsen.de</a><br />
                    Address:<br />
                    Der Landesbeauftragte für den Datenschutz Niedersachsen<br />
                    Prinzenstraße 5<br />
                    D-30159 Hannover<br />
                    Germany</p>
                </p>
            </div>
        </div>
    </div>
</section>
{{> footer}}