{{> navigation}}

<section class="home-slider ftco-degree-bg">
    <div class="slider-item bread-wrap"
        style="background-image: url(&quot;images/xbg_1.jpg.pagespeed.ic.zMFIB0fnpX.webp&quot;); background-position: 50% 415.5px;"
        data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">
                <div class="col-md-10 col-sm-12 ftco-animate mb-4 text-center fadeInUp ftco-animated">

                    <h1 class="mb-3">Lumi H5P Desktop Editor – Privacy Policy</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate fadeInUp ftco-animated">
                <h2 class="mb-3">Lumi H5P Desktop Editor – Privacy Policy</h2>
                <p>The Lumi H5P Desktop Editor is an application developed and distributed by “Lumi Education GbR Jan
                    Philip Schellenberg und Sebastian Rettig” (“Lumi Education GbR”, “we” and “our company” in the
                    following). This privacy policy will explain how our company uses the personal data we collect from
                    you while you use the app.
                </p>
                <p>
                    This privacy policy only applies to copies of the app you received directly from Lumi Education GbR,
                    either by downloading it from the website lumi.education, the GitHub repository at
                    https://github.com/lumieducation/lumi or from an application store. If you downloaded it from an
                    application store, this privacy policy only applies if you downloaded it from an official store
                    entry of Lumi Education GbR, which can have one of these publishers (or an abbreviation of these):
                <ul>
                    <li>Lumi Education GbR Jan Philip Schellenberg and Sebastian Rettig</li>
                    <li>Jan Philip Schellenberg</li>
                    <li>Sebastian Rettig</li>
                </ul>
                </p>
                <p>
                    As the Lumi app is licensed under the AGPL-3.0 License, anyone can change and distribute the app.
                    This privacy policy does not apply to versions of the Lumi app that were modified and published by
                    anyone else.
                </p>

                <h2 class="mb-3 mt-5">Who is responsible for data collection in Lumi H5P Desktop Editor?</h2>
                <p>The controller (according to Art. 4 (7) GDPR the legal person who determines the purpose and means of
                    the processing of personal data) is Lumi Education GbR Jan Philip Schellenberg and Sebastian Rettig,
                    Frida-Kahlo-Straße 41, D-38126 Braunschweig, Germany.
                </p>
                <h2 class="mb-3 mt-5">What data is collected? How is it collected?
                </h2>

                <p>The following data is transmitted to our organization or third parties while you use the app:
                </p>
                <table>
                    <thead>
                        <tr>
                            <th>Number</th>
                            <th>Data</th>
                            <th>When?</th>
                            <th>To whom is it transmitted?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>A unique identifier of your installation and your IP address</td>
                            <td>When you start the app</td>
                            <td rowspan="5">Lumi Education GbR<br> </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>How often you use the app</td>
                            <td>When you start the app & have use statistics enabled</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Information about your computer (operating system) and your location</td>
                            <td>When you start the app & have use statistics enabled</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>What parts of the app you use</td>
                            <td>While you use the app & have use statistics enabled</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Errors that occur while you use the app</td>
                            <td>If your app encounters an error & you have bug reporting enabled</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Your IP address, a (stable) unique identifier of your machine and information about the
                                installation of Lumi H5P Editor (version etc.)</td>
                            <td>When downloading content types from the H5P Hub (on app startup and when you click on
                                install or update in the content type list)</td>
                            <td>Joubel AS, c/o Flow Coworking AS Strandgata 9, 9008 Tromsø, Norway (see their privacy
                                policy here: https://h5p.org/privacy)</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Your IP address</td>
                            <td>When checking for new app updates and downloading them</td>
                            <td>GitHub Inc., 88 Colin P Kelly Jr St, San Francisco, CA 94107, United States (see their
                                privacy policy here:
                                https://docs.github.com/en/free-pro-team@latest/github/site-policy/github-privacy-statement)
                            </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Your IP address</td>
                            <td>When using the app (to download fonts)</td>
                            <td>Google, Gordon House, Barrow Street, Dublin 4, Ireland (see their privacy policy here:
                                https://policies.google.com/privacy?hl=en)</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Your IP address and possibly other data</td>
                            <td>If you use content types that transmit data to third parties (e.g. Speak the Answer
                                transmits your voice recording to Google to transcribe it)</td>
                            <td>depends on content type used</td>
                        </tr>
                                  <tr>
                            <td>10</td>
                            <td>Your uploaded H5P as HTML file</td>
                            <td>If you choose to upload a H5P to Lumi.run via the Lumi Run App </td>
                            <td>Lumi Education GbR</td>
                        </tr>
                    </tbody>
                </table>

                <h2 class="mb-3 mt-5">On what basis do we collect your data?</h2>

                <p>We collect or transmit your data with your explicit consent (Art. 6 (1) a GDPR) for numbers 1-9 through the consent dialog on the first start of Lumi. The
                    data transmission in numbers 6-9 is required for the H5P editor and player to work. If you object to
                    it, it is not technically possible to use the app.
                </p>
                <h2 class="mb-3 mt-5">How will we use your data?
                </h2>
                <p>Our company collects your data (numbers 1-5) so that we can:</p>
                <ul>
                    <li>decide what parts of the app should be developed further (e.g. choice of languages to localize)
                    </li>
                    <li>to optimize the user interface</li>
                    <li>find and fix bugs</li>
                    <li>contact you with follow-up questions about a bug reported by you</li>
                </ul>
                <p>
                    Your data is not used for individual decision-making, including profiling.
                </p>
                <p>
                    Data that we receive about you is not shared with other companies or organizations, except if we are
                    required to do so by law (e.g. for law enforcement) and for processing purposes (see below).
                    It is beyond our control how data that is transmitted directly to third parties (numbers 6-9) is
                    used by them.
                </p>

                <h2 class="mb-3 mt-5">How do we store your data?</h2>

                <p>Our company uses a processor to securely store the data about your app usage (numbers 1-5) on
                    Scaleway Cloud systems managed by Lumi Education GbR, Frida-Kahlo-Straße 41, 38126 Braunschweig.</p>
                <p>Our company will keep your data for two years after it was collected. Once this time period has
                    expired, we will delete your data.</p>
                <p>It is beyond our control how data that is transmitted directly to third parties (numbers 6-9) is
                    stored by them and for how long. As some of the recipients are resident in the USA, it is likely
                    that your data is transmitted to and stored in the USA.</p>
                </p>
                <h2 class="mb-3 mt-5">What are your data protection rights?</h2>
                <p>Our company would like to make sure you are fully aware of all of your data protection rights. Every
                    user is entitled to the following:
                <ul>
                    <li><b>The right to object to processing – You have the right to object to our company’s processing
                            of your personal data, under certain conditions.</b></li>
                    <li>The right to access – You have the right to request our company for copies of your personal
                        data. We
                        may charge you a small fee for this service.</li>
                    <li>The right to rectification – You have the right to request that our company correct any
                        information
                        you believe is inaccurate. You also have the right to request our company to complete the
                        information you believe is incomplete.</li>
                    <li>The right to erasure – You have the right to request that our company erase your personal data,
                        under certain conditions.</li>
                    <li>The right to restrict processing – You have the right to request that our company restrict the
                        processing of your personal data, under certain conditions.</li>
                    <li>The right to data portability – You have the right to request that our company transfer the data
                        that we have collected to another organization, or directly to you, under certain conditions.
                    </li>
                </ul>
                <p>If you make a request, we have one month to respond to you. If you would like to exercise any of
                    these rights, please contact us at our email: <a href="mailto:c@Lumi.education">c@Lumi.education</a>
                </p>
                <p>All requests concerning data transmitted as described in numbers 6-9 must be directed directly to
                    the recipients.</p>
                </p>

                <h2 class="mb-3 mt-5">Privacy policies of other websites
                </h2>
                <p>Our app contains links to other websites. Our privacy policy applies only to our website, so if you
                    click on a link to another website, you should read their privacy policy.
                </p>
                <h2 class="mb-3 mt-5">Changes to our privacy policy</h2>
                <p>Our company keeps its privacy policy under regular review and places any updates on this web
                    page. This privacy policy was last updated on 18th Oct 2020.
                </p>
                <h2 class="mb-3 mt-5">How to contact us</h2>

                <p>If you have any questions about our company’s privacy policy, the data we hold on you, or you
                    would like to exercise one of your data protection rights, please do not hesitate to contact us.</p>
                <p>Email us at: <a href="mailto:c@Lumi.education">c@Lumi.education</a></p>
                </p>
                <h2 class="mb-3 mt-5">How to contact the appropriate authority
                </h2>
                <p>Should you wish to report a complaint or if you feel that our company has not addressed your concern
                    in a satisfactory manner, you may contact the Information Commissioner’s Office.</p>
                <p>Email: <a href="mailto:poststelle@lfd.niedersachsen.de">poststelle@lfd.niedersachsen.de</a><br />
                    Address:<br />
                    Der Landesbeauftragte für den Datenschutz Niedersachsen<br />
                    Prinzenstraße 5<br />
                    D-30159 Hannover<br />
                    Germany</p>
                </p>
            </div>
        </div>
    </div>
</section>
{{> footer}}