{{> navigation}}

<section class="home-slider ftco-degree-bg">
    <div class="slider-item bread-wrap"
        style="background-image: url(&quot;/images/xbg_1.jpg.pagespeed.ic.zMFIB0fnpX.webp&quot;); background-position: 50% 415.5px;"
        data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">
                <div class="col-md-10 col-sm-12 ftco-animate mb-4 text-center fadeInUp ftco-animated">

                    <h1 class="mb-3">Lumi Run Privacy Policy</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate fadeInUp ftco-animated">
                <h2 class="mb-3">Lumi Run – Privacy Policy</h2>
                <p>Lumi Run is an online platform developed and operated by “Lumi Education GbR Jan Philip Schellenberg und Sebastian Rettig” (“Lumi Education GbR”, “we” and “our company” in the following). This privacy policy will explain how our company uses the personal data we collect from you while you use the platform.
This privacy policy only applies to the platform run on the domain Lumi.run.

                </p>
                <h2 class="mb-3 mt-5">Who is responsible for data collection in Lumi Run?</h2>
                <p>The controller (according to Art. 4 (7) GDPR the legal person who determines the purpose and means of
                    the processing of personal data) is Lumi Education GbR Jan Philip Schellenberg and Sebastian Rettig,
                    Frida-Kahlo-Straße 41, D-38126 Braunschweig, Germany.
                </p>
                <h2 class="mb-3 mt-5">What data is collected? How is it collected?
                </h2>

                <p>The following data is transmitted to our organization or third parties while you use the app:
                </p>
                <table>
                    <thead>
                        <tr>
                            <th>Number</th>
                            <th>Data</th>
                            <th>When?</th>
                            <th>To whom is it transmitted?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Your email address</td>
                            <td>When you register</td>
                            <td rowspan="5">Lumi Education GbR<br> </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Your IP address</td>
                            <td>When you register, login and when you upload and delete content</td>
                        </tr>
                         <tr>
                            <td>3</td>
                            <td>Your uploaded H5P and date</td>
                            <td>When you upload content</td>
                        </tr>
                    </tbody>
                </table>

                <h2 class="mb-3 mt-5">On what basis do we collect your data?</h2>

                <p>We collect or transmit your data with your explicit consent (Art. 6 (1) a GDPR) for numbers 1-2 through the consent dialog on the first login to Lumi Run. 
                </p>
                <h2 class="mb-3 mt-5">How will we use your data?
                </h2>
                <p>Our company collects your data (numbers 1-3) so that we can:
redirect law enforcement authorities in case of copyright violation and illegal activities
</p>
               
                <p>
                    Your data is not used for individual decision-making, including profiling.
                </p>
                <p>
                    Data that we receive about you is not shared with other companies or organizations, except if we are
                    required to do so by law (e.g. for law enforcement) and for processing purposes (see below).
                </p>

                <h2 class="mb-3 mt-5">How do we store your data?</h2>

                <p>Our company uses a processor to securely store the data about your app usage (numbers 1-3) on
                    Hetzner Online GmbH
Industriestr. 25
91710 Gunzenhausen
Germany
</p>
                <p>Our company will keep your content data for one year after it was collected. Once this time period has
                    expired, we will delete your data.</p>
                <p>Your account will be stored until you decide to delete it.
                </p>
                </p>
                <h2 class="mb-3 mt-5">What are your data protection rights?</h2>
                <p>Our company would like to make sure you are fully aware of all of your data protection rights. Every
                    user is entitled to the following:
                <ul>
                    <li><b>The right to object to processing – You have the right to object to our company’s processing
                            of your personal data, under certain conditions.</b></li>
                    <li>The right to access – You have the right to request our company for copies of your personal
                        data. We
                        may charge you a small fee for this service.</li>
                    <li>The right to rectification – You have the right to request that our company correct any
                        information
                        you believe is inaccurate. You also have the right to request our company to complete the
                        information you believe is incomplete.</li>
                    <li>The right to erasure – You have the right to request that our company erase your personal data,
                        under certain conditions.</li>
                    <li>The right to restrict processing – You have the right to request that our company restrict the
                        processing of your personal data, under certain conditions.</li>
                    <li>The right to data portability – You have the right to request that our company transfer the data
                        that we have collected to another organization, or directly to you, under certain conditions.
                    </li>
                </ul>
                <p>If you make a request, we have one month to respond to you. If you would like to exercise any of
                    these rights, please contact us at our email: <a href="mailto:c@Lumi.education">c@Lumi.education</a>
                </p>

                </p>

                <h2 class="mb-3 mt-5">Privacy policies of other websites
                </h2>
                <p>Our app contains links to other websites. Our privacy policy applies only to our website, so if you
                    click on a link to another website, you should read their privacy policy.
                </p>
                <h2 class="mb-3 mt-5">Changes to our privacy policy</h2>
                <p>Our company keeps its privacy policy under regular review and places any updates on this web
                    page. This privacy policy was last updated on 11th May 2021.
                </p>
                <h2 class="mb-3 mt-5">How to contact us</h2>

                <p>If you have any questions about our company’s privacy policy, the data we hold on you, or you
                    would like to exercise one of your data protection rights, please do not hesitate to contact us.</p>
                <p>Email us at: <a href="mailto:c@Lumi.education">c@Lumi.education</a></p>
                </p>
                <h2 class="mb-3 mt-5">How to contact the appropriate authority
                </h2>
                <p>Should you wish to report a complaint or if you feel that our company has not addressed your concern
                    in a satisfactory manner, you may contact the Information Commissioner’s Office.</p>
                <p>Email: <a href="mailto:poststelle@lfd.niedersachsen.de">poststelle@lfd.niedersachsen.de</a><br />
                    Address:<br />
                    Der Landesbeauftragte für den Datenschutz Niedersachsen<br />
                    Prinzenstraße 5<br />
                    D-30159 Hannover<br />
                    Germany</p>
                </p>
            </div>
        </div>
    </div>
</section>
{{> footer}}