{{> navigation}}

<section class="home-slider ftco-degree-bg">
    <div class="slider-item bread-wrap"
        style="background-image: url(&quot;/images/xbg_1.jpg.pagespeed.ic.zMFIB0fnpX.webp&quot;); background-position: 50% 415.5px;"
        data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">
                <div class="col-md-10 col-sm-12 ftco-animate mb-4 text-center fadeInUp ftco-animated">

                    <h1 class="mb-3">Lumi Run Terms of use</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate fadeInUp ftco-animated">
                <h2 class="mb-3">Lumi Run – Terms of use</h2>
                <p>These terms of use regulate the use of the upload to and hosting by Lumi Run. They apply between the platform provider (“Lumi Education GbR Jan Philip Schellenberg und Sebastian Rettig”, hereinafter referred to as “Lumi Education”, “provider” or “we”) and all registered users (hereinafter referred to as “users”).

These terms of use form a legally binding agreement between consenting users and Lumi Education. Please take the time to read it carefully.


                </p>
                <h2 class="mb-3 mt-5">Acceptance and amendment of the terms of use</h2>
                <p>In order to use the Lumi Run platform as a registered user, you must agree to these terms of use.</p>

                 <h2 class="mb-3 mt-5">Jurisdiction</h2>
                <p>Lumi Run is a service provided by “Lumi Education GbR Jan Philip Schellenberg und Sebastian Rettig”, which is based in Germany. As a German company we and all users of our services are required to follow German and European law.
</p>
                <p>Any legal case arising from the agreement shall be heard in Braunschweig, Germany.</p>

            <h2 class="mb-3 mt-5">Uploading content to Lumi Run</h2>
                <p>When uploading content, the user must comply with all European and German applicable laws and regulations. Only content may be uploaded for which the user has the necessary rights. As the platform has an educational purpose it is not allowed to upload any discriminatory, racist, obscene, violent, pornographic or otherwise offensive content which is harmful to minors, even if it might be allowed by the law. If you find inappropriate content that is unlawful, defamatory, defamatory, sexually harassing, infringing copyright, etc. in any form, please report this to us at c@lumi.education so that we can remove the content if necessary.
                <p>The provider does not check the quality or correctness of uploaded content. Users are required to carry out their own examination and assessment of the content in terms of quality and intended use.</p>
                <p>Lumi Run must only be used for teaching and self-study material produced for learners in an educational context, including teacher training. Content produced for training inside commercial business entities or without any clear educational intent is not allowed and will be deleted.</p>
                <p>Teaching and learning content, texts or media files (hereinafter referred to as content) may be uploaded to Lumi Run if one of the following applies:
                    <ul>
                        <li>Content that was created by the users themselves and to which they have the complete copyright.</li>
                        <li>Content that is under one of these Creative Commons licenses: CC0, CC BY 1.0, CC BY 2.0, CC BY 3.0, CC BY 4.0, CC BY-SA 1.0, CC BY-SA 2.0, CC BY-SA 3.0, CC BY- SA 4.0.</li>
                        <li>Public domain content</li>
                    </ul>
                </p>
                <p>
                    All content is only to be uploaded and used in compliance with German and European copyright law, personal rights and any industrial property rights. In addition, users have to comply with their own local law. If they conflict, the stricter law applies.
                </p>
                <p>
                    The user agrees to describe the licenses of all uploaded files, such as images or videos, completely and accurately, even if these are CC0 content or in the public domain. These must also be marked as such in Lumi Run.
                </p>
                <p>
                     If you want to upload your content, please note that the upload is limited to 128 MB for reasons of capacity. The upload limit can be changed without prior notice to counter abuse.
                </p>

            <h2 class="mb-3 mt-5">Account</h2>
            <p>
                 If you register at the service, we store access data for every account (email address).
            </p>
            <p>
                The users must keep the access data to their account secret and prevent unauthorized use by third parties.
            </p>
            <p>
                We do not accept any liability for improper use of the access data.
            </p>
            <p>
                Registered users must be at least 18 years old to be able to create content themselves.
            </p>
            <h2 class="mb-3 mt-5">Liability</h2>
            <p>
                Lumi Run assumes no liability for the correctness and completeness of the content uploaded on this platform and / or its license information, as long as this has not been reported by the user.
            </p>
            <p>
                Lumi Run does not adopt the content provided by users as their own. In the event of a violation of the terms of use and / or legal violations that are noticed by the operators, the platform will respond by deleting the content concerned and blocking the access of the user concerned. We reserve the right to claim damages if the rights of third parties are violated by users.
            </p>
            <p>
                Registered users of Lumi Run must provide the information in their profile truthfully and completely. This applies in particular to the contact details.
            </p>
            <p>
                Lumi Run does not guarantee the uninterrupted availability of the platform and is not liable for interruptions.
            </p>
            <p>
                Lumi Run also reserves the right to permanently or temporarily change or discontinue parts of the services offered at any time and without prior notice. As a rule, registered users are informed of extensive changes by email. However, no claim can be derived from this.
            </p>
             <h2 class="mb-3 mt-5">Data collection and transmission</h2>
             <p>
                 Lumi Run collects and processes personal data as described in our privacy policy.
             </p>
             <p>
                 We record access data (such as IP address, date and time of access, name of the file accessed) to create anonymized usage statistics and for diagnostic purposes.
             </p>
             <p>
                 When users log in or upload or modify content, their activity (including their full IP address) is logged. Logs are deleted after one year. Lumi Education will provide access data to third parties (e.g. copyright holders) if German or European law requires us to do so (e.g. if there is a judicial order).
             </p>
            <h2 class="mb-3 mt-5">Notice to rights holders</h2>
            <p>
                Lumi Run advises on all input pages not to use any material that is subject to third-party copyrights. However, it cannot be ruled out that unauthorized users may contribute material that violates existing property rights. If the provider is notified of a corresponding copyright infringement, the relevant material will be checked and if necessary removed within four business days. 
            </p>
            <p>
                You can report copyright violations to c@lumi.education. The email should precisely describe the content concerned on Lumi Run (please always state the URL and, if necessary, a specific section) as well as the publication or website from which the material was copied unauthorized. If your copyrighted content is not available publicly, you must also provide a reference copy, screenshot or scan that allows us to verify your claim. 
            </p>
            <h2 class="mb-3 mt-5">Salvatory clause</h2>
            <p>
                Should any of the above provisions in this Agreement be invalid this shall not impair the validity of this Agreement. It is to be substituted by the provisions coming closest to the intention of both parties which has to be laid down in writing.
            </p>
            <p style="height: 50px"></p>
               </div>
        </div>
    </div>
</section>
{{> footer}}